@import "tailwindcss";

@font-face {
  font-family: 'bernhardfashion';
  src: url('/fonts/Bernhard_Fashion_BT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tempussansitc';
  src: url('/fonts/TEMPSITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: tempussansitc;
}
